
.container{
    width: 1682px !important;
}
.panel-group .panel {
    margin-bottom: 0;
    border-radius: 4px;
    padding: 27px 20px;
    background-color: #F9F7F3;
}
.radio-container-maain {
    display: grid;
}
label.radio-container {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 14px;
}
input[type="radio"] {
    width: 22px !important;
    height: 22px !important;
    color: black;
}
.manager h6 {
    padding-bottom: 20px;
    margin: 0px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 5px;
}
.manager {
    padding-bottom: 30px;
    border-bottom: 1px solid var(--Icon, #515B7C);
    margin-bottom: 30px;
}
.filter-main span {
    font-size: 18px;
    line-height: 21px;
    font-weight: 600;
}
.filter-main {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-bottom: 20px;
}
.manager h5 {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    margin: 0;
    padding-bottom: 7px;
}
.manager select {
    height: 54px;
    width: 100%;
    font-size: 15px;
    line-height: 17px;
    font-weight: 400;
    color: #686868;
}
.main-hdr {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 21px;
}
.main-hdr select {
    width: 185px;
    height: 52px;
    border-radius: 8px;
}
.main-hdr select {
    width: 185px;
    height: 52px;
    border-radius: 8px;
    font-size: 17px;
    line-height: 21px;
    font-weight: 400;
    padding: 0px 12px;
}

select.form-select-3 {
    background: black;
    color: white;
}
.categrories h3 {
    margin: 0;
    font-size: 28px;
    line-height: 34px;
    font-weight: 600;
}
.product-jwweller-maain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 21px;
}
.ring-img {
    width: 145px;
    height: 145px;
    border: 4.37px solid #998233;
    background: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-jwellery h2 {
    font-size: 15px;
    line-height: 19px;
    font-weight: 600;
    text-align: center;
    margin: 0;
    padding-top: 15px;
}